.body{
    font-family: "Raleway", sans-serif;
    margin-bottom: 0;
}
.line{
    display: flex;
    flex-direction: row;
    margin-left: 15%;
    margin-right: 15%;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
}
.menu{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.menu ul{
    list-style: none;
}
.menu ul li{
    display: flex;
    flex-direction: row;
    float: left;
}
.menu ul li a {
    text-decoration: none;
    display: block;
    padding: 35px;
    color: black;
    }
.menu ul li a.active{
    border-top: 2px solid #0065FC ;
    color: #0065FC;
    font-weight: 600;
}
.menu ul li a.signup{
    color:#0065fc;
    font-weight:600;
}
.cols-100 {
    width :100%;
}
.search{
    padding-top: 25px;
}
.search h2{
    font-size: x-large;
    margin-bottom: 10px;
}
.search-form{
    margin-top: 25px;
    display: flex;
    width: 350px;
    align-items: flex-start;
    justify-content: flex-start;
}
.search-icon{
    height: 40px;
    width: 50px;
    background-color: #f2f2f2;
    border:1px solid #f2f2f2;
    border-radius: 30px 0 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-map-marker-alt:before{
    color: black;
}
   
.search-input{
    width: 220px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border:1px solid #f2f2f2;
    border-right:none;
}
.search-input input{
    width: 99%;
    height: 35px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    color: #000000;
}
.search-input input::placeholder {
    font-weight: bold;
}
.search-input input:focus {
    outline: none;
}
.search-button {
    width: 120px;
    height: 40px;
    border-radius: 0;
    border: none;
    background-color: #0065FC;
    color: #ffffff;
    font-weight: bold;
    border-radius: 0 30px 30px 0;
}
.submit{
    margin-left: 10px ;
    margin-top: 10px;

}
.filter {
    padding-top: 25px;
    font-weight: bold;
}
.filter-text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.filter-item{
    width: auto;
}
.filter-item a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 25px;
    border: 2px solid #F2F2F2;
    padding-right: 10px;
    border-radius: 40px;
    border-left: none;
    text-decoration: none;
    color: initial;
}
.filter-item-text:hover {
    color: red;
}
.filter-item-icon {
    background-color: #DEEBFF;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.filter-item-text {
    padding: 0 10px;
}
.fas{
    color: #0065fc;;
}
.grey{
    color:#DEEBFF;
}
.info-result {
    padding-top: 25px;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.info-result img {
    padding: 5px;
    border: 1px solid #F2F2F2;
    height: 12px;
    width: 12px;
    margin-right: 15px;
}
.fa-info{
    display: flex;
    margin: 0 25px;
    border: 2px solid#f2f2f2;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 40px;
    text-decoration: none;
    border-radius: 50%;
}